extends layout

block content
    p Hola #{name}, por favor verifica tu cuenta haciendo click en el siguiente enlace: #{validationLink}
    //h2= error.status
    //pre #{error.stack}

//<p>¡Hola %user%!</p>
//<p>Te damos la bienvenida a Avila Coins</p>
//
//<table width="100%" border="0" cellspacing="0" cellpadding="0">
//    <tr>
//        <td>
//            <table border="0" cellspacing="0" cellpadding="0">
//                <tr>
//                    <td>
//						<a href="%urlVerification%" target="_blank" style="font-size: 16px; font-family: Helvetica, Arial, sans-serif; color: #ffffff; text-decoration: none; border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px; background-color: #3C8DBC; border-top: 12px solid #3C8DBC; border-bottom: 12px solid #3C8DBC; border-right: 18px solid #3C8DBC; border-left: 18px solid #3C8DBC; display: inline-block;">
//							verifica tu correo electrónico
//						</a>
//					</td>
//                </tr>
//            </table>
//        </td>
//    </tr>
//</table>
