<p>¡Hola %user%!</p>
<p>Haz click en el siguiente link para recuperar tu contraseña</p>

<table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
        <td>
            <table border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td>
                        <a href="%urlVerification%" target="_blank" style="font-size: 16px; font-family: Helvetica, Arial, sans-serif; color: #ffffff; text-decoration: none; border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px; background-color: #3C8DBC; border-top: 12px solid #3C8DBC; border-bottom: 12px solid #3C8DBC; border-right: 18px solid #3C8DBC; border-left: 18px solid #3C8DBC; display: inline-block;">
                            Haz click aquí
                        </a>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
